@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
   

}
/* HEADER */
header a{
    color: black;
    font-weight: 600;
}
.header_menu{
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
.header_menu h1{
    font-family: 'Oregano', cursive;
    text-align: center;
}
.icon_menu:before { 
    font-family: 'fontello';
    content: '\f0c9';
    font-size: 1.5em;
    display: none;
    
 }
 nav{
     display: flex;
     flex-direction: column;
     align-self: flex-end;
     width: 100%;
 }
 .submenu{
     display: flex;
     justify-content: space-around;
     width: 100%;
 }




.img_index{
    height: 40vh;
    background: url(src/img/acces-direct-tente-camping-navarrosse-biscarrosse-2810-1400x300.jpg);
    box-shadow: inset 800px -18px 364px 7px rgba(0, 0, 0, 0.4);
    background-color: transparent;
    opacity: 1;
    background-size: cover;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
  
}
.img_index h1{
    padding: 2%;
    color: white;
    font-weight: 500;

}

@media screen and (max-width:1000px){
    .header_menu{
        display: flex;
        justify-content: space-between;
    }
    .menu{
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .icon_menu{
        display: flex;
        align-self: flex-end;
        
    }
    .menu:hover .submenu{
        display: block;
        width: 30%;
        top: 9%;
        right: 0;
        position: absolute;
        z-index:10;
        color: red;
        
        
    }
    .submenu:hover .submenu{
        display: block;
        width: 30%;
        top: 9%;
        right: 0;
        position: absolute;
        z-index:10;
        transition: 2s;
        
        
    }
    .submenu{
        background-color: white;
        text-align: center;
        width: 30%;
        height: 18em;
        display: none;
        margin: 0;
        

    }
    .submenu a{
        font-weight: 600;
    }
    .submenu a:hover{
        opacity: 0.8;
    }
    .menu_ul{
        display: flex;
        flex-direction: column;
    }
    .submenu li{
        padding: 5%;
    }
    .icon_menu:before{
        display: flex;
    }


}

/*PAGE ADMIN*/
.main_admin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.main_admin h1{
    width: 100%;
    padding: 1%;
    background: linear-gradient(to right, #00b4db, #0083b0);
    font-weight: lighter;
    color: white;
}
#title_admin{
    background: white;
    color: black;
    text-align: center;
    font-weight: 600;
}
.main_admin section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
}
.main_admin table{
    width: 100%;
}

.main_admin form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table_prices{
    width: 50%;
    border: 2px solid rgb(200, 200, 200);
    border-collapse: collapse;
    text-align: center;
    margin: 1em;
}
.table_prices td{
    border: 2px solid rgb(200, 200, 200);
    padding: 1em;
}
.table_prices th, .table_booking th{
    background: linear-gradient(to right, #00b4db, #0083b0);
    padding: 1em;
    color: white;
}
.option_name{
    text-transform: uppercase;
}
.link_to:before{
    font-family: 'fontello';
    content:"z";
    color: black;
}
.delete:before{
    font-family: 'fontello';
    content:"t";
    color: #1e62d8;
}
.change_price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    width: 50%;
}
.change_price p{
    padding: 1em;
    text-align: center;
}
.change_price input{
    text-align: center;
    width: 25%;
    margin: 1em;
    padding: 1%;
    
}
.submit_price{
    width: 25%;
    padding:2%;
    margin: 1em;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    letter-spacing: 1px;
}
.table_booking{
    width: 70%;
    border: 2px solid rgb(200, 200, 200);
    border-collapse: collapse;
    text-align: center;
    margin: 1em;
}
.table_booking td {
    border: 2px solid rgb(200, 200, 200);
    padding: 1em;
}



/*PAGE RESERVATION FORM*/

.main_reservation_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: url(src/img/camping-3893587_1920.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}
.container_reservation{
    display: flex;
    justify-content: space-around;
    padding: 1%;

}
.div_booking{
    height: 81vh;
    width: 30%;
    padding: 2%;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}
.div_booking form{
    width: 100%;
}
.div_booking h1{
    padding: 2%;
}
.div_booking input, .div_booking select{
    background: #ebecee;
    border: none;
}
.div_text{
    width: 30%;
}
#place, #type{
    width: 90%;
    padding: 3%;
    margin: 2%;
}
.dates{
    display: flex;
    justify-content: space-around;
    padding: 3%;
    width: 100%;
    
}
.date_form{
    padding: 2%;
    margin-left: 1%;
}

.date_form input{
    color: rgba(62, 72, 92, 0.3);
    padding:2%
}
.option_choice{
    padding: 1%;
}
.all_options{
    display: flex;
    flex-direction: column;
}
.all_options div{
    padding: 2%;
}
.div_booking button{
    padding: 3% 10%;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    background-color: #1e62d8;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    margin-top: 3%;
}
.div_booking button:hover, .div_booking button:focus{
    opacity: 0.9;
}
.div_text h1, .div_text p{
    padding: 5%;
}

.div_text p{
    font-weight: 500;
}
@media screen and (max-width:1000px){
    .div_text{
        display: none;
    }
    .div_booking{
        width: 50%;
    }
    .dates{
        display: flex;
        flex-wrap: wrap;
    }
}

/*Style message d'erreur ou de succès*/
.error{
    background: #f8d7da;
    text-align: center;
    padding: 1%;
  
    
}
.success{
    background: #d4edda;
    text-align: center;
    padding: 1%;
   
}

/*PAGE CONNEXION*/
.main_connect{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.big_box{
    display: flex;
    text-align: center;
    width: 70%;
    height: 60vh;
    -webkit-box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.35); 
    box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.35);
}
.box, .box2{
    width: 50%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box{
    background-color: white;
}
.box2{
    background: linear-gradient(to right, #00b4db, #0083b0);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box form{
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
    padding: 1%;
    height:70%

}
.box input{
    background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
.button_connect{
    border-radius: 20px;
	border: 1px solid #0083b0;
    background: linear-gradient(to right, #00b4db, #0083b0);
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
    text-transform: uppercase;
    margin: 1em;
    cursor: pointer;
	
}
.button_box2{
    border-radius: 20px;
    border: 1px solid white;
    font-size: 12px;
	font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
}


/*PAGE CHANGE RESERVATION*/

 .main_change_booking{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
 }
 .main_change_booking h1{
     margin: 1em;
 }
 .change_booking{
     width: 50%;
     margin-bottom: 1em;
     -webkit-box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.35); 
    box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.35);
    padding: 3%;
 }
 .change_booking input, .change_booking select{
    background: #ebecee;
    border: none;

 }
.change_booking form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.change_booking button{
    border-radius: 20px;
	border: 1px solid #0083b0;
    background: linear-gradient(to right, #00b4db, #0083b0);
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
    text-transform: uppercase;
    margin: 1em;
    
}
.all_options_booking{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.all_options_booking div{
    padding: 1%;
}
.change_booking label{
    width: 100%;
}
.go_back{
    color: black;
    font-weight: bold;
}
.go_back:hover{
    color:#0083b0;
    transition: 0.5s;
    
}


/*FOOTER*/

footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: #2f3542;
    color: white;
}
.newsletter, .social_media, .more_info{
    width: 30%;
    padding: 2%;
}
.newsletter h3, .newsletter p{
    padding: 3%;
}
.input_newsletter{
    display: flex;
    height: 2.5em;
    
}
.input_newsletter button{
    margin-left: 1%;
    width: 15%;
    font-weight: bold;
    color: white;
    background-color: #1e62d8;
    border: none;
    opacity: 0.7;
    cursor: pointer;
    
  
}
.input_newsletter input{
    width: 80%;
}


.more_info h3, .more_info p, .social_media h3, .social_media p{
    padding: 3%;
}
.more_info p{
    border: 1px solid white;
}
.more_info a{
    color: white;
}

#facebook_icon:before{
    font-family: "fontello";
    content: "f";
    color: white;
    font-size: 1.5em;

}

#twitter_icon:before{
    font-family: "fontello";
    content: "b";
    color: white;
    font-size: 1.5em;

}

#youtube_icon:before{
    font-family: "fontello";
    content: "y";
    color: white;
    font-size: 1.5em;

}

#insta_icon:before{
    font-family: "fontello";
    content: "i";
    color: white;
    font-size: 1.5em;


}
.social_media_icons{
    padding: 3%;
    display: flex;
    justify-content: space-around;
}
.icons:hover{
  transform: scale(1.4);
  transition:0.5s;
  opacity: 0.8;

}
/*** PROFIL ***/

.main_profil h2 {
    margin: 3% auto;
    text-align: center;
}
.titre_profil {
    text-align: center;
}

.section_form_profil {
    display: flex;
    align-items: stretch;  
}
.section_form_profil form , .image_profil {
    width: 50%;
}

.section_form_profil div img {
    width: 100%;
}

.section_form_profil div img , .section_form_profil form{
    height: 67vh;
}
.section_form_profil form {
    
    background: linear-gradient(to right, #00b4db, #0083b0);
}

.section_form_profil form label ,  .section_form_profil form input {
    display: block;
    width: 50%;
    margin: auto;
    height: 4vh;
}

.section_form_profil form input[type="submit"] {
    width: 30%;
    height: 5vh;
    border: 1px solid #a5a0a0;
    border-radius: 20px;
    outline: 0;
}

.section_form_profil form input {
    margin-bottom: 2%;
    border: none;
   
}

.section_profil_reservations {
    width: 80%;
    margin: 1% auto;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: whitesmoke;
}

.section_profil_reservations div{
   width: 50%;
}

@media screen and (max-width: 700px) {
    .section_form_profil {
        display: block;  
    }
    .section_form_profil div img {
        display: none;
    } 
    .section_form_profil form {
        width: 100%;
    }
    .section_profil_reservations {
        width: 100%;
    }
    .section_profil_reservations div{
        width: 100%;
    }

     
}

.section_profil_reservations div IMG {
    width: 10%;
}

.div_jours {
    display: flex;
}

.div_jours div {
    width: 50%;
}

.div_jours  p{
    width: 100%;
}
.profil_tarif {
    padding: 2%;
    background: linear-gradient(to right, #00b4db, #0083b0);
    border-radius: 5px;
}

.options {
    display: flex;
}

.options div img {
    width: 20%;
}

.section_profil_reservations p , .section_profil_reservations img {
   vertical-align: middle;
}

/*** INSCRIPTION ***/
.main_inscription {
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div_inscription {
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
    margin: auto;
    background-color: white;
    box-shadow: 2px 2px 8px 5px #aaa; 
    outline: 0;
    
}

.titre_creation_compte {
    color: #0083b0;
}

.div_inscription form , .section_inscription {
    width: 50%;
   
} 

@media screen and (max-width: 500px) {
    .div_inscription {
       flex-direction: column;
       width: 95%;  
    }
    .div_inscription form  {
        width: 100%;
       
    } 

    .section_inscription{
        width: 96%;
    }
}

.div_inscription form {
    text-align: center;
}
.div_inscription form label, .div_inscription input {
    display: block;
}

.div_inscription input {
    width: 80%;
    margin: 2% auto;
    height: 4vh;
}

.div_inscription input[type="submit"] {
    width: 50%;
   height: 6vh;
   margin-top: 8%;
   background: linear-gradient(to right, #00b4db, #0083b0);
   border-radius: 20px;
   border: none;
   outline: none;
   color: white;
}

.section_inscription {
    padding: 2%;
    background: linear-gradient(to right, #00b4db, #0083b0);
}

.titre_inscription {
    color: white;
}

.section_inscription p{
    font-size: 20px;
}

.section_inscription div{
    margin: 6% auto;
    text-align: center;
}

.icon-facebook-squared:before { 
    content: '\f308';
    font-size: 30px;
}
.icon-instagram:before { 
    content: '\f16d'; 
    font-size: 30px;
} 
.icon-twitter-squared:before { 
    content: '\f304'; 
    font-size: 30px;
}

.section_inscription div a{
    color: white;
}

.connexion {
    display: block;
    width: 30%;
    padding: 3%;
    margin: auto;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    color: white;
    outline: none;
}

@media screen and (min-width: 500px) and (max-width: 770px) {
    .div_inscription input[type="submit"] {
        width: 70%;
    }
    .connexion {   
        width: 50%;  
    }
}
/*** PLANNING ***/
.main_planning {
    background-color: whitesmoke;
    padding-bottom: 2%;
}
.planning {
    display: flex;
    text-align: center;
    padding: 3% 0;
}

.lien-planning {
    font-weight: bold;
}

.form_planning {
    width: 20%;
    margin: 2% auto;
}

.form_planning input {
    width: 70%;
    height: 4vh;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, #00b4db, #0083b0);
    outline: 0;
}

.form_planning input:hover {
    color: white;
}

.div_planning {
    width: 80%;
}
@media screen and (max-width: 700px) {
    .planning {
        flex-direction: column-reverse;  
    }
    .form_planning {
        width: 40%;
    }
    .div_planning {
        width: 100%;
        
    }
}

.table_planning {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
 
}
.table_planning td, .table_planning th , .table_planning_reservation td, .table_planning_reservation th{
    border: 1px solid black;
}

.table_planning thead {
    background: linear-gradient(to right, #00b4db, #0083b0);
}
.table_planning td {
    background: white;
}

.table_planning thead th{
    margin: 2%;
    height: 10vh;
}

.table_planning td {
    height: 8vh;
}

.section_planning_reservation {
    margin-top: 5%;
    text-align: center;
}

.section_planning_reservation h2 {
    width: 70%;
    margin: 2% auto;
}

.table_planning_reservation {
    width: 70%;
    margin: 5% auto;
    border-collapse: collapse;
}

.table_planning_reservation th {
    height: 5vh;
    background-color: #b7b7b7;
}

 .table_planning_reservation td:first-child {
    height: 5vh;
    background-color: #b7b7b7;
   
}

.table_planning_reservation thead th:first-child {
    border: none;
    background-color: white;
}

.table_planning_reservation td:first-child{
    font-weight: bold;
}

.lien_resa {
    color: black;
}

.lien_resa:hover {
    color: white;
}
.dispo {
    background-color: #66ff66;
}

.nondispo {
    background-color: red;
}

.section_planning_reservation {
    width: 53%;
    margin: 3% auto;
    background: white;
    border: 1px solid #0083b0;
    border-radius: 20px;
}

@media screen and (max-width: 700px) {
    .section_planning_reservation {
        width: 100%;
       
    }
}
.section_planning_reservation h2 , .main_profil h2 {
 color: #0083b0;
}
 .main_profil h2::before, .main_profil h2:after { 
    content:''; display:inline-block; 
    vertical-align: middle; 
    width: 10rem; 
    height: 1px; 
    background: #0083b0 ;
}
.section_planning_reservation h2:before , .main_profil h2:before { 
    margin-right: .3rem 
}
.section_planning_reservation h2:after, .main_profil h2:after { 
    margin-left: .3rem 
}

/*** Index ***/

.index_main section {
    margin: 5% 0 0;
}
.index_h2 {
    text-align: center;
    text-transform: uppercase;
}

.index_h2:before, .index_h2:after { 
    content:''; display:inline-block; 
    vertical-align: middle; 
    width: 7rem; 
    height: 1px; 
    background: #0083b0 ;
}

.index_h2:before { 
    margin-right: 1rem 
}
.index_h2:after { 
    margin-left: 1rem 
}
.emplacement {
    display: flex;
  
}
.emplacement div {
    width: 33%;
    padding: 2%;
    margin: 1%;
    background-color: whitesmoke;
}

.emplacement div img {
    width: 100%;
}

.index_div_choix {
    display: flex;
    justify-content: center;
    text-align: center;
}

.index_div_choix div {
    width: 24%;
    margin: 1%;
    padding: 2%;
    border: 1px solid #0083b0;
}

.index_div_choix div img{
    width: 25%;
}

.index_div_choix div hr{
    height: 1%;
    background: #0083b0;
    border: none;
    width: 70%;
    margin: auto;
}

.option_flex {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 4% auto;
}

.option_flex div{
    width: 50%;
}

.option_flex img{
   width: 13%;
}
.index_options img {
    width: 30%;
}
.index_options div {
   margin: 2%;
}
@media screen and (max-width: 700px){
    .index_h2:before, .index_h2:after , .main_profil h2:before , .main_profil h2:after , .section_planning_reservation h2:before, .section_planning_reservation h2:after{
        display: none;
    }
    .emplacement {
        flex-direction: column;
    }
    .emplacement div {
        width: 90%;
        margin: 1% auto;
    }

    .option_flex {
        width: 95%;
    }

    .option_flex img {
        display: none;
    }

    .index_div_choix {
       flex-direction: column;
    }

    .index_div_choix div {
        width: 60%;
        margin: 2% auto; 
    }
}

.index_section_payement {
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
    text-align: center;
    background-color: whitesmoke;
}
.index_section_payement div {
    width: 30%;
}
.index_section_payement div img{
    width: 15%;
    border: 1px solid #0083b0;
    border-radius: 50%;
    PADDING: 3%;
}

.index_div_h3 {
    color: #0083b0;
}

.index_section_payement div p{
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    .index_section_payement {
        flex-wrap: wrap;
    }
    .index_section_payement div {
        width: 50%;
    }
}





